<div class="container-fluid section-main">

  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" >
      <div class="w-100">
        <h1 class="mb-0">Rahul
          <span>ss</span>
        </h1>
        <div class="subheading mb-3">Srambikkal (H), Mannuthi,Thrissur, Kerala 680656
          <!-- <a href="mailto:name@email.com">Webinsanestudios@gmail.com</a> -->
        </div>
        <p class="lead mb-5 text-justify">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <div class="social-icons">
          <a href="https://www.instagram.com/im_rahul__/"  target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/Rahul-webinsane" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/rahul-ss-1158a0164/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.facebook.com/im.rahul.ss"  target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Front-End Developer Trainee</h3>
            <div class="subheading mb-3">Allsec Technologies</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
            <p>May 2020 - Present</p>
          </div>
          <!-- <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - Present</span>
          </div> -->
        </div>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Front-End Developer Intern</h3>
            <div class="subheading mb-3">Aequalis</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
            <p>January - June 2019 </p>
          </div>
          <!-- <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - Present</span>
          </div> -->
        </div>


      </div>

    </section>

    <hr class="m-0">


    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">SRM University</h3>
            <div class="subheading mb-3">MCA</div>
            <div>Master Of Computer Application</div>
            <p>CGPA: 7.5</p>
            <p>August 2016 - May 2018</p>
          </div>
          <!-- <div class="resume-date text-md-right">
            <span class="text-warning"></span>
          </div> -->
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Mother Arts & Science College</h3>
            <div class="subheading mb-3">BCA</div>
            <div>Bachelor of Computer Application</div>
            <p>CGPA: 5.8</p>
            <p>August 2012 - May 2015</p>
          </div>
          <!-- <div class="resume-date text-md-right">
            <span class="text-warning">August 2012 - May 2015</span>
          </div> -->
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-database"></i>
          </li>
           <li class="list-inline-item">
            <i class="fab fa-node"></i>
          </li>

          <!-- <li class="list-inline-item">
            <i class="fab fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-grunt"></i>
          </li> -->
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center mb-5" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p class="text-justify">Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0 text-justify">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
      </div>
    </section>

  </div>
</div>
