
<div class="container-fluid section-main">

  <div class="container ">


  <div class="text-center">
    <h2 class="section-heading text-uppercase mt-5">Services</h2>
    <h3 class="section-subheading">
      Lorem ipsum dolor sit amet consectetur.
    </h3>
  </div>
  <div class="row text-center my-5">
    <div class="col-md-4 py-2">
      <div class="card justify-content-center" style="width: auto;">
        <div class="justify-content-center mt-2">
          <span class="fa-stack fa-4x"
            ><i class="fas fa-circle fa-stack-2x text-danger"></i
            ><i class="fas fa-laptop-code fa-stack-1x fa-inverse"></i
          ></span>
        </div>
        <div class="card-body">
          <h4 class="my-3">Web-Devlopment</h4>
          <p class="text-capitalize text-justify pcolor">
           <small>Web development refers to building, creating, and an maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management.</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-2">
      <div class="card justify-content-center" style="width: auto;">
        <div class="justify-content-center mt-2">
          <span class="fa-stack fa-4x"
            ><i class="fas fa-circle fa-stack-2x text-warning"></i
            ><i class="fas fa-window-maximize fa-stack-1x fa-inverse"></i
          ></span>
        </div>
        <div class="card-body">
          <h4 class="my-3">Responsive Design</h4>
          <p class="text-capitalize text-justify pcolor">
           <small> Responsive Web design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation.</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-2 mb-5">
      <div class="card justify-content-center" style="width: auto;">
        <div class="justify-content-center mt-2">
          <span class="fa-stack fa-4x"
            ><i class="fas fa-circle fa-stack-2x text-primary"></i
            ><i class="fas fa-mobile fa-stack-1x fa-inverse"></i
          ></span>
        </div>
        <div class="card-body">
          <h4 class="my-3">Mob-Devlopment</h4>
          <p class="text-capitalize text-justify pcolor">
            <small>Mobile app development is the act or process by which a mobile app is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
