<div class="container-fluid" id="home-section">

  <header class="masthead ">
    <div class="container">
        <div class="masthead-subheading">Hi I'm <span></span></div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <!-- <a class="border btn-lg text-uppercase text-decoration-none op" download="rahul_cv" target="_blank" href="../../assets/Cv/Rahul_New_Pdf.pdf">Download Cv</a> -->
        <a class="btn btn1 text-decoration-none" download="Rahul_Cv" target="_blank"  href="../../assets/Cv/final_cut_resume.docx">Download csv</a>
    </div>
    <!-- <div class="container">

      <form [formGroup]="totalDueNewCardForm">
        <input appCreditCard [cardNumbers]="totalDueNewCardForm.get('creditCardNumber').value" (valueChanged)="onChangeCreditCardValue($event)">
      </form>

    </div> -->


</header>

</div>
